node_modules
yarn.lock
package-lock.json
bun.lockb
dist
static
build
.pnpm-store

.DS_Store
*.tgz
.logs
.env.local

playwright-report
test-results

packages/ignore-*
packages/site/.astro
packages/site/src/assets/all.css
packages/site/src/pages/components/*.astro
!packages/site/src/pages/components/index.astro

packages/paleui/lib/
packages/paleui/src/**/*.css