node_modules
yarn.lock
package-lock.json
bun.lockb
dist
static
build
.pnpm-store

packages/ignore-*

.DS_Store
*.tgz
.logs
.env.local

NOTES.md
playwright-report
test-results

packages/site/.astro
packages/site/src/assets/all.css

packages/paleui/src/**/*.css