@mixin reset {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	vertical-align: baseline;
}

@mixin transition-outline-with ($extra-transition: null) {
	outline-offset: 0;
	outline: 0px solid var(--ring);
	transition: outline-width calc(var(--transition-speed) * 0.5) ease-in-out,
	#{$extra-transition};
}

@mixin transition-outline-visible {
	outline-width: 3px;
}

@mixin pad($y, $x: $y) {
	padding: calc(var(--spacing) * $y) calc(var(--spacing) * $x);
}

@mixin disable {
	opacity: 50%;
	pointer-events: none;
}