@use "utils.scss";

[role="alert"] {
	@include utils.reset;
	@include utils.pad(3, 4);

	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: auto auto;
	border-radius: var(--radius-lg);
	height: auto;
	width: 100%;
	background-color: var(--background);
	border: solid 1px var(--border);
	color: var(--foreground);

	&.destructive {
		color: var(--destructive);
	}

	svg {
		@include utils.reset;

		width: calc(var(--spacing) * 3.5);
		height: calc(var(--spacing) * 3.5);
		grid-column: 1;
		grid-row: 1 / 3;
		flex-shrink: 0;
		margin-right: calc(var(--spacing) * 2);
	}

	p {
		@include utils.reset;

		line-height: 1.15;
		font-size: 0.875rem;
		font-weight: 500;
		grid-column: 2;
		grid-row: 1;
		color: inherit;
	}

	small {
		@include utils.reset;

		line-height: 1;
		color: var(--muted-foreground);
		font-size: 0.875rem;
		grid-column: 2;
		grid-row: 2;
		margin-top: calc(var(--spacing) * 1);
		color: inherit;
	}

	a {
		color: inherit;
	}
}