[role="alert"] {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: auto auto;
	box-sizing: border-box;
	border-radius: var(--radius);
	margin: 0;
	height: auto;
	width: 100%;
	background-color: var(--background);
	border: solid 1px var(--border);
	padding: calc(var(--spacing) * 3) calc(var(--spacing) * 4);
}

[role="alert"].destructive {
	color: var(--destructive);
}

[role="alert"] svg {
	width: calc(var(--spacing) * 3.5);
	height: calc(var(--spacing) * 3.5);
	grid-column: 1;
	grid-row: 1 / 3;
	flex-shrink: 0;
	margin-right: calc(var(--spacing) * 2);
	box-sizing: border-box;
}

[role="alert"] p {
	margin: 0;
	line-height: 1.15;
	font-size: 0.875rem;
	font-weight: 500;
	grid-column: 2;
	grid-row: 1;
	box-sizing: border-box;
}

[role="alert"].destructive p {
	color: var(--destructive);
}

[role="alert"] small {
	margin: 0;
	line-height: 1;
	color: var(--muted-foreground);
	font-size: 0.875rem;
	grid-column: 2;
	grid-row: 2;
	margin-top: calc(var(--spacing) * 1);
	box-sizing: border-box;
}

[role="alert"].destructive small {
	color: var(--destructive);
}

[role="alert"] a {
	color: inherit;
}
