@use "utils.scss";

article {
	@include utils.pad(5, 6);

	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing) * 6);
	border: solid 1px var(--border);
	box-sizing: border-box;
	border-radius: var(--radius-xl);
	box-shadow: var(--shadow-sm);
	background-color: var(--card);
	color: var(--card-foreground);

	header,
	hgroup,
	footer,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include utils.reset;

		position: static;
	}

	hgroup>h1,
	hgroup>h2,
	hgroup>h3,
	hgroup>h4,
	hgroup>h5,
	hgroup>h6 {
		@include utils.reset;

		margin-bottom: calc(var(--spacing) * 1);
	}
}