dialog {
	border: none;
	border-radius: var(--radius);
	max-width: 500px;
	padding: calc(var(--spacing) * 6);
}

dialog::backdrop {
	background-color: black;
	opacity: 50%;
}

dialog > hgroup {
	padding-bottom: calc(var(--spacing) * 2);
}

dialog > hgroup p {
	font-size: 0.875rem;
}

dialog > div:last-child {
	margin-top: calc(var(--spacing) * 4);
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: var(--spacing);
}

dialog h1,
dialog h2,
dialog h3,
dialog h4,
dialog h5,
dialog h6 {
	margin-top: 0;
}
