details {
	position: relative;
	display: inline-flex;
}

details[open] summary[role="button"] {
	border-radius: var(--radius);
}

details summary[role="button"]::after {
	content: ""
}

details[open] summary[role="button"]::after {
	content: ""
}

details [role="dialog"] {
	position: absolute;
	z-index: 10;
	background-color: var(--card);
	width: max-content;
	border: 1px solid var(--border);
	border-radius: var(--radius);
	box-sizing: border-box;
	padding: calc(var(--spacing)*1);
	display: flex;
	flex-direction: column;
	margin: 0;
	font-size: 0.8rem;
	line-height: 1;
}

details [role="dialog"] ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

details [role="dialog"] li {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
	border-radius: var(--radius);
	color: var(--card-foreground);
	transition: background-color var(--transition-speed) ease-in-out;
	cursor: var(--cursor-interactive);
}

details [role="dialog"] li:hover {
	background-color: var(--secondary);
}

details [role="dialog"] li a {
	text-decoration: none;
	color: inherit;
}

details {
	display: flex;
}

details>summary {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-grow: 1;
	height: calc(var(--spacing) * 8);
	padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
	box-sizing: border-box;
	border-radius: var(--radius);
	cursor: var(--cursor-interactive);

	background-color: var(--background);
	color: var(--foreground);
	border: solid 1px var(--border);

	font-size: 0.8rem;
	line-height: 1;

	transition: background-color var(--transition-speed) ease-in-out;
}

details>summary:hover {
	background-color: var(--muted);
}

details>summary::after {
	content: "+";
	font-weight: bold;
}

details[open] summary {
	border-radius: var(--radius) var(--radius) 0 0;
}

details[open] summary::after {
	content: "-";
	font-weight: bold;
}

details>div {
	display: flex;
	width: 100%;
	flex-direction: column;
	background-color: var(--popover);
	border: 1px solid var(--border);
	border-top: 0;
	padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
	box-sizing: border-box;
	border-radius: 0 0 var(--radius) var(--radius);
	font-size: 0.8rem;
	line-height: 1;
}