* {
	font-family: "Roboto Condensed", sans-serif;
}

body {
	margin: 0;
	background-color: var(--background);
	color: var(--foreground);
}

header {
	font-weight: 400;
	position: sticky;
	top: 0;
	background-color: var(--background);
	z-index: 4;
	padding: 1rem 1.5rem;
}

header a {
	text-decoration: none;
	color: inherit;
}

header>nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 4;
	gap: 1rem;
	font-size: 0.8rem;
}

header>nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	gap: 1rem;
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header>nav li {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header>nav a {
	padding: 0;
	height: min-content;
	line-height: 1;
	margin: 0;
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

h2 {
	font-weight: 500;
	font-size: 1.3rem;
}

h3 {
	font-weight: 500;
}

[role="separator"] {
	border: none;
	background-color: var(--border);
	display: inline-flex;
	height: 10px;
	width: 1px;
}